footer
  .container.text-center
    p.pull-left © 2016 BottomsUp, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/bottomsupdemocracy/bottomsup') GitHub Project
      li
        a(href='https://github.com/bottomsupdemocracy/bottomsup/issues') Issues
