extends layout

block links
  link(rel='stylesheet', href='/css/landing.css')
block content
  #landing-wrapper
    section#screen-fill
      .hero
      .gradient
      h1.landing-title Reality Check.
      a(href='/signup')
        .button Participate
      a(href='/data')
        .button Data Tool
    section#about
      h1 Our Team
      a(href='https://www.linkedin.com/in/kelso')
        .profile
          img#evan.circle(src='/img/evan.jpg', alt='')
          h2 Evan Kelso
      a(href='https://www.linkedin.com/in/melaniegin')
        .profile
          img.circle(src='/img/Melanie_Gin.jpg', alt='')
          h2 Melanie Gin
      a(href='https://www.linkedin.com/in/krpeacock')
        .profile
          img.circle(src='https://media.licdn.com/media/AAEAAQAAAAAAAAkJAAAAJDk3MWU2NzYzLTM1ZmEtNDhiZS04YWQyLWExYmQxOTIzN2I2NQ.jpg', alt='')
          h2 Kyle Peacock
      a(href='https://www.linkedin.com/in/john-orland-b087a2ab')
        .profile
          img.circle(src='/img/John.png', alt='')
          h2 John Orland
      a(href='https://www.linkedin.com/in/conorkennedy')
        .profile
          img.circle(src='https://media.licdn.com/media/p/6/005/02c/294/16b3410.jpg', alt='')
          h2 Conor Kennedy
