extends layout

block links
  link(rel='stylesheet', href='/css/landing.css')
block content
  #landing-wrapper
    section#screen-fill
      .hero
      .gradient
      h1.landing-title Reality Check.
      h3 A Grassroots Disruption of Political Polling.
      a(href='/home')
        .button Participate
    section#about
      h1 Our Team
      a(href='https://www.linkedin.com/in/kelso')
        .profile
          img#evan.circle(src='/img/evan.jpg', alt='')
          img(src="http://brand.ucla.edu/wp-content/uploads/2013/08/ucla-script-main-11.jpg" class="square")
          h2 Evan Kelso
          p.blurb
            | Psychologist / UX Researcher
      a(href='https://www.linkedin.com/in/melaniegin')
        .profile
          img.circle(src='/img/Melanie_Gin.jpg', alt='')
          img(src="https://lh6.googleusercontent.com/-vL_sAmZ7IT0/AAAAAAAAAAI/AAAAAAAAWxU/Uj9gVfdQnc8/s0-c-k-no-ns/photo.jpg" class="square")
          h2 Melanie Gin
          p.blurb
            | Full Stack Engineer
      a(href='https://www.linkedin.com/in/krpeacock')
        .profile
          img.circle(src='https://media.licdn.com/media/AAEAAQAAAAAAAAkJAAAAJDk3MWU2NzYzLTM1ZmEtNDhiZS04YWQyLWExYmQxOTIzN2I2NQ.jpg', alt='')
          img(src="http://static1.squarespace.com/static/57f08d8b2e69cf154bc063ae/t/57f0a20429687faa60f242d2/1480471378909/?format=1500w" class="square")
          h2 Kyle Peacock
          p.blurb
            | JavaScript Developer
      a(href='https://www.linkedin.com/in/john-orland-b087a2ab')
        .profile
          img.circle(src='/img/John.png', alt='')
          img(src="http://cgsc.biology.yale.edu/images/yale_logo.jpg" class="square")
          h2 John Orland
          p.blurb
            | Software Engineer
      a(href='https://www.linkedin.com/in/conorkennedy')
        .profile
          img.circle(src='https://media.licdn.com/media/p/6/005/02c/294/16b3410.jpg', alt='')
          img(src="http://network.napco.com/promo-marketing/wp-content/uploads/sites/12/2016/03/Harvard.jpg" class="square")
          h2 Conor Kennedy
          p.blurb
            | SF Tech Policy Analyst
